<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/vue.js"></script>


</head>

<body>
    <div id="demo1">

        <div>{{ data1}}</div>
    </div>


</body>
<script>
    var app = new Vue({
        el: "#demo1",
        data: {
            data1: 333,
        }
    })
</script>

</html>